html, body { height: 100%; width: 100%; margin: 0; }

#header {
    /*background-color: DodgerBlue;*/
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-style: italic;
}

#footer {
    /*background-color: DodgerBlue;*/
    text-align: center;
    font-size: 14px;
    /*font-style: italic;*/
    /*font-weight: bold;*/
    margin-top: 5px;
}
.div #checkbox_view {
    display:none;
    text-align: center;
}

.warnstyle {
    border: 4px double black; /* Параметры границы */
    background: #fc3; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    font-style: italic;
}

.webix_list_item {
background-color:#eee;
}
.webix_list_item.webix_selected {
background-color:#1995ad;
}