<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ECG Annotation Tool</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/static/js/canvasjs.min.js"></script>

    <link rel="stylesheet" href="//cdn.webix.com/edge/webix.css" type="text/css">
    <script src="//cdn.webix.com/edge/webix.js" type="text/javascript"></script>
</head>
<body>

<script type="text/javascript" charset="utf-8">
    function sendRequest(method, url) {
        return fetch(url).then(response => {
            return response.json()
        })
    }

    var header = {
            id: "header",
            css: "header",
            template: "<div id='header'>EKG annotation tool</div>",
            height: 50
        }

    webix.ready(() => {
        webix.ui({
            id: "app",
            rows: [
                header,
                {
                    cols: [
                        {
                            gravity: 7, rows: [
                                {
                                    id: "drawLayout",
                                    align: "center,middle",
                                    template: '<div id="graph"></div>',
                                    scroll: true,
                                    width: 0,
                                },
                                // { view:"resizer"},
                                {
                                    rows: [
                                        {id: "report", template: "", height: 50},

                                        {
                                            view: "form",
                                            scroll: false,
                                            elements: [],
                                            id: "form_tipos",
                                            height: 300,
                                        },
                                        {
                                            margin: 5, cols: [
                                                {
                                                    id: "saveBtn",
                                                    view: "button",
                                                    label: "Сохранить на сервере",
                                                    disabled: true,
                                                    type: "form",
                                                    click: () => {
                                                        var form = $$("form_tipos");
                                                        data = getForm(form);
                                                        if (data) {
                                                            let item =$$("ecglist").getSelectedItem().rank
                                                            webix.ajax().post("/anno/" + item, data, function (res) {
                                                                webix.message('Saved')
                                                                markListItem()
                                                                selectNextItem()
                                                            });
                                                        }
                                                    }
                                                },
                                                {
                                                    id: "cancelBtn",
                                                    view: "button",
                                                    disabled: true,
                                                    label: "Отметить как мусор",
                                                    click: () => {
                                                        alert('Clean Stub')
                                                    }
                                                }
                                            ]
                                        }

                                    ]
                                },
                            ]
                        },
                        {
                            // container: "ecglist",
                            rows: [
                                {
                                    cols: [
                                        {
                                            header: "Список ЭКГ", body:
                                                {
                                                    id: "ecglist",
                                                    view: "list",
                                                    template: "#rank#. #title#",
                                                    // data: data,
                                                    url: "/getlist",
                                                    // url: () => {
                                                    //     if (!loadState()) {
                                                    //         $$("ecglist").load("/getlist")
                                                    //         saveState()
                                                    //     }
                                                    // },

                                                    select: true,
                                                    ready: function () {
                                                        if (this.count() < 1) {
                                                            webix.extend(this, webix.OverlayBox);
                                                            this.showOverlay("<div style='margin:75px; font-size:20px;'>Пустой список. </br>Нажми 'Получить новую порцию'</div>");
                                                        } else {
                                                            //TODO fix it
                                                        }
                                                    },
                                                    on: {
                                                        // the default click behavior that is true for any datatable cell
                                                        "onItemClick": function (id, e, trg) {
                                                            // this.addCss(id, "other");
                                                            let item = $$("ecglist").getItem(id).rank
                                                            requestData(item)
                                                        }
                                                    },
                                                }
                                        },

                                    ]
                                },
                                {
                                    id: "sendButton",
                                    view: "button",
                                    value: "Cancel",
                                    label: "Получить новую порцию",
                                    click: () => {
                                        getNewList()
                                    }
                                },
                            ]
                        },
                    ]
                },
                {align: "center,middle", template: "<div id='footer'>Stream Labs 2020</div>", height: 50}
            ]
        })

        // webix.attachEvent('unload', function () {
        //     webix.storage.session.put("state", $$("ecglist").data);
        // });
        //
        // var state = webix.storage.session.get("state");ex
        // if (state)
        //     $$("ecglist").parse(state)
    });


    function saveState() {
        let list = $$("ecglist")
        // save list state
        let state = []
        list.data.each((item) => {state.push(item)})
        webix.storage.session.put("state", state)
    }

    function loadState() {
        var state = webix.storage.session.get("state")
        if (state) {
            $$("ecglist").parse(state)
            return true
        } else return false
    }

    function getNewList() {
        let list = $$("ecglist")
        list.clearAll()
        list.load("/getlist?new=true")
        // TODO Make it smoothly by replacing reloading all window to reset checkbox layout
        // and canvas layout
        // window.location.reload(true)
        list.hideOverlay()
        list.refresh()
    }

    function markListItem() {
        let list = $$("ecglist")
        let item = list.getSelectedItem()
        // var ar_selected = list.getSelectedItem(true)
        item.$css = "saved"

    }

    function selectNextItem() {
        let list = $$("ecglist")
        let nextItem = FindNextItem()
        if (nextItem) {
                list.select(nextItem.id)
                list.refresh()
                requestData(nextItem.rank)
        }
        else {
            webix.alert('Все задания выполнены. Получите новую порцию, чтобы продолжить')
            cleanLayouts()
        }

    }

    function FindNextItem() {
        let nextItem = null
        let list = $$("ecglist")
        for (let id in list.data.pull) {
            let item = list.getItem(id)
            if (!item.$css) {
                nextItem = item
                break
            }
        }
        return nextItem
    }

    function show_progress_bar(delay) {
        webix.extend($$("app"), webix.ProgressBar)
        $$("app").disable();
        $$("app").showProgress({
            type: "icon",
            delay: delay,
            hide: true
        });
        setTimeout(function () {
            $$("app").enable();
        }, delay);
    }

    function getForm(form) {
        let values = form.getChildViews()
        let response = []
        for (let i = 0; i < values.length; i++) {
            let block = values[i].getValues()
            response.push(block)
        }
        return JSON.stringify(response)
    }

    function requestData(id) {
        $$("saveBtn").enable()
        $$("cancelBtn").enable()
        show_progress_bar(2000)
        requestLeadData(id)
        requestReportDate(id)
    }

    function requestReportDate(id) {
        const requestURL = '/anno/' + id
        sendRequest('GET', requestURL)
            .then(data => {
                rebuildForm(data)
            })
            .catch(err => {
                    webix.message(err.message)
                }
            )
    }

    function requestLeadData(id) {
        const requestURL = '/leads/' + id
        sendRequest('GET', requestURL)
            .then(data => {
                //TODO forward exception
                if (Object.keys(data.data).length) {
                    drawLeads({}, data)
                } else {
                    cleanLayouts()
                    webix.message("FileNotFound")
                }
            })
            .catch(err => {
                    webix.message(err.message)
                }
            )
    }

    function cleanLayouts() {
        cleanForm()
        cleanLeads()
        cleanReport()
    }

    function cleanReport() {
        webix.ui({id: "report", template: '<b>Заключение: </b>', height: 50, css: "report_box"}, $$('report'));
    }

    function cleanForm() {
        webix.ui(
            {
                view: "form",
                scroll: false,
                elements: [],
                id: "form_tipos",
                height: 300,
            }
            , $$('form_tipos'));
    }

    function cleanLeads() {
        const myNode = document.getElementById("graph");
        while (myNode.lastElementChild) {
            myNode.removeChild(myNode.lastElementChild);
        }
    }

    function rebuildForm(data, clean = false) {
        let report = data.report
        data = data.data
        let checkbox = []
        for (let i = 0; i < data.length; i++) {
            let group = []
            group.push({template: data[i]["group_label"], type: "section"})
            let group_array = data[i]["group_data"]
            for (let j = 0; j < group_array.length; j++) {
                group.push({
                    view: "checkbox",
                    align: "left",
                    label: group_array[j].label,
                    name: group_array[j].name,
                    value: (clean) ? 0 : group_array[j].value,
                })
            }
            checkbox.push({
                view: "form",
                elements: group,
                margin: 2,
                elementsConfig: {"labelAlign": "left", labelWidth: 350}
            })
        }
        webix.ui({id: "report", template: '<b>Заключение: </b>' + report, height: 50, css: "report_box"}, $$('report'));

        webix.ui(
            {
                view: "form",
                scroll: false,
                id: 'form_tipos',
                cols: checkbox
            }
            , $$('form_tipos'));
        // this.disable();
    }

    function drawLeads(params, data) {

        let NUM_LEADS = 12

        data = data.data
        const myNode = document.getElementById("graph");
        while (myNode.lastElementChild) {
            myNode.removeChild(myNode.lastElementChild);
        }

        for (let i = 0; i < NUM_LEADS; i++) {
            var div = document.createElement('div')
            div.className = "chart"
            div.id = "chartContainer" + i
            div.style = "position: relative; width: 100%; height: 200px;display: inline-block;"
            document.getElementById('graph').appendChild(div)
            drawSingleLead(i, 'chartContainer' + i, data[i])
        }

    }

    function drawSingleLead(lead, containerName, singleLeadData) {
        let leadNames = {
            0: "I",
            1: "II",
            2: "III",
            3: "aVR",
            4: "aVL",
            5: "aVF",
            6: "V1",
            7: "V2",
            8: "V3",
            9: "V4",
            10: "V5",
            11: "V6"
        }

        var xAxisStripLinesArray = [];
        var yAxisStripLinesArray = [];
        var dps = [];
        var dataPointsArray = singleLeadData;

        var chart = new CanvasJS.Chart(containerName, {
            height: 200,
            zoomEnabled: true,
            animationEnabled: true,
            animationDuration: 2000,
            showInLegend: true,
            // title: {
            //     text: lead,
            // },
            subtitles: [{
                fontSize:15,
                text: "Lead " + leadNames[lead],
                horizontalAlign: "left",
            }],
            axisY: {
                stripLines: yAxisStripLinesArray,
                gridThickness: 2,
                gridColor: "#DC74A5",
                lineColor: "#DC74A5",
                tickColor: "#DC74A5",
                labelFontColor: "#DC74A5",
            },
            axisX: {
                stripLines: xAxisStripLinesArray,
                gridThickness: 2,
                gridColor: "#DC74A5",
                lineColor: "#DC74A5",
                tickColor: "#DC74A5",
                labelFontColor: "#DC74A5",
            },
            data: [{
                type: "spline",
                color: "black",
                dataPoints: dps
            }]
        });

        addDataPointsAndStripLines();
        chart.render();


        function addDataPointsAndStripLines() {
            //dataPoints
            for (var i = 0; i < dataPointsArray.length; i++) {
                dps.push({
                    y: dataPointsArray[i]
                });
            }
            //StripLines
            for (var i = 0; i < 5000; i = i + 100) {
                // if (i % 1000 != 0)
                yAxisStripLinesArray.push({
                    value: i,
                    thickness: 0.7,
                    color: "#DC74A5"
                });
            }
            for (var i = 0; i < 5000; i += 20) {
                // if (i % 200 != 0)
                xAxisStripLinesArray.push({
                    value: i,
                    thickness: 0.7,
                    color: "#DC74A5"
                });
            }
        }
    }

</script>
</body>
</html>
